/* screen - homeprinting */

.homeprinting {
  background-color: #f8bc84;
  height: 1024px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}

.homeprinting .frame-2-C61RwL {
  --z-index: 0;
  background-color: #ee1d52;
  box-shadow: 10px 10px 0px #3a3a3a;
  height: 500px;
  left: 22px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 288px;
  width: 500px;
}

.homeprinting .group-1-gUEd1c {
  --z-index: 0;
  background-color: transparent;
  height: 494px;
  left: 36px;
  opacity: 1;
  position: relative;
  top: 0px;
  width: 430px;
}

.homeprinting .mint-print-1-o7ncbJ {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/mintprint-1@2x.png);
  background-size: 100% 100%;
  height: 494px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: -0px;
  width: 430px;
}

.homeprinting .rectangle-1-o7ncbJ {
  --z-index: 1;
  background-color: #30d6b0;
  box-shadow: 5px 5px 0px #3a3a3a;
  height: 150px;
  left: 280px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 28px;
  width: 150px;
}

.homeprinting .filled-24px-heart-o7ncbJ {
  --z-index: 2;
  background-color: transparent;
  background-image: url(../img/filled-24px---heart@2x.svg);
  background-size: 100% 100%;
  height: 120px;
  left: 295px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 43px;
  width: 120px;
}

.homeprinting .frame-3-C61RwL {
  --z-index: 1;
  background-color: #30d6b0;
  box-shadow: 10px 10px 0px #3a3a3a;
  height: 500px;
  left: 618px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 288px;
  width: 800px;
}

.homeprinting .frame-7-FY3HhL {
  --z-index: 0;
  background-color: #f9c2d0;
  height: 140px;
  left: 100px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 335px;
  width: 600px;
}

.homeprinting .printing-SDSgfo {
  --z-index: 0;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Fira Code', Helvetica;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  height: 140px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 40px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 600px;
}

.homeprinting .frame-8-FY3HhL {
  --z-index: 1;
  background-color: #ee1d52;
  box-shadow: 5px 5px 0px #3a3a3a;
  height: 280px;
  left: 44px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 24px;
  width: 712px;
}

.homeprinting .this-is-buffi-he-gre-FY3HhL {
  --z-index: 2;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Fira Code', Helvetica;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  height: 276px;
  left: 40px;
  letter-spacing: 0.00px;
  line-height: 36px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 28px;
  width: 716px;
}

.homeprinting .head-C61RwL {
  --z-index: 2;
  background-color: transparent;
  height: 208px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.homeprinting .rectangle-2-s1PSRm {
  --z-index: 0;
  background-color: #ee1d52;
  box-shadow: 5px 5px 0px #3a3a3a;
  height: 208px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.homeprinting .rectangle-3-s1PSRm {
  --z-index: 1;
  background-color: #30d6b0;
  box-shadow: 10px 10px 0px #3a3a3a;
  height: 140px;
  left: 22px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 34px;
  width: 140px;
}

.homeprinting .primary-s1PSRm {
  --z-index: 2;
  background-color: transparent;
  background-image: url(../img/primary@2x.svg);
  background-size: 100% 100%;
  height: 124px;
  left: 32px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 42px;
  width: 120px;
}

.homeprinting .product-s1PSRm {
  --z-index: 3;
  background-color: #30d6b0;
  box-shadow: 3px 3px 0px #3a3a3a;
  height: 140px;
  left: 188px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 34px;
  width: 600px;
}

.homeprinting .product-cYrMf9 {
  --z-index: 0;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Fira Code', Helvetica;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  height: 140px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 40px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 600px;
}

.homeprinting .about-us-s1PSRm {
  --z-index: 4;
  background-color: #30d6b0;
  box-shadow: 10px 10px 0px #3a3a3a;
  cursor: pointer;
  height: 140px;
  left: 818px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 34px;
  width: 600px;
}

.homeprinting .about-us-nzmeGY {
  --z-index: 0;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Fira Code', Helvetica;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  height: 140px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 40px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 600px;
}

.homeprinting .rectangle-4-C61RwL {
  --z-index: 3;
  background-color: #ee1d52;
  box-shadow: 5px 5px 0px #3a3a3a;
  height: 25px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 996px;
  width: 1440px;
}

.homeprinting .group-4-C61RwL {
  --z-index: 4;
  background-color: transparent;
  height: 100px;
  left: 32px;
  opacity: 1;
  position: absolute;
  top: 842px;
  width: 490px;
}

.homeprinting .frame-11-KOsP6k {
  --z-index: 0;
  background-color: #ee1d52;
  box-shadow: 5px 5px 0px #3a3a3a;
  height: 100px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 90px;
}

.homeprinting .gwei-1-xzGD0B {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/gwei-1@2x.png);
  background-size: 100% 100%;
  height: 66px;
  left: 20px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  width: 60px;
}

.homeprinting .frame-12-KOsP6k {
  --z-index: 1;
  background-color: #30d6b0;
  box-shadow: 5px 5px 0px #3a3a3a;
  height: 100px;
  left: 92px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 398px;
}

.homeprinting .powered-by-ethdenvercom-nF32JU {
  --z-index: 0;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Fira Code', Helvetica;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  height: 100px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 32px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 398px;
}

.homeprinting .group-5-C61RwL {
  --z-index: 5;
  background-color: transparent;
  height: 100px;
  left: 623px;
  opacity: 1;
  position: absolute;
  top: 842px;
  width: 795px;
}

.homeprinting .frame-11-iZjIT4 {
  --z-index: 0;
  background-color: #ee1d52;
  box-shadow: 5px 5px 0px #3a3a3a;
  height: 100px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 97px;
}

.homeprinting .image-1-Z8Yqbq {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/image-1@2x.png);
  background-size: 100% 100%;
  height: 63px;
  left: 19px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  width: 63px;
}

.homeprinting .frame-12-iZjIT4 {
  --z-index: 1;
  background-color: #30d6b0;
  box-shadow: 5px 5px 0px #3a3a3a;
  height: 100px;
  left: 97px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 698px;
}

.homeprinting .challenged-by-moonbeam-w2YmxP {
  --z-index: 0;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Fira Code', Helvetica;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  height: 100px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 32px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 698px;
}
/* screen - aboutus */

.aboutus {
  background-color: #f9bc84;
  height: 1248px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}

.aboutus .head-C61RwL {
  --z-index: 0;
  background-color: transparent;
  height: 208px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.aboutus .rectangle-2-s1PSRm {
  --z-index: 0;
  background-color: #ee1d52;
  box-shadow: 5px 5px 0px #3a3a3a;
  height: 208px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.aboutus .rectangle-3-s1PSRm {
  --z-index: 1;
  background-color: #30d6b0;
  box-shadow: 10px 10px 0px #3a3a3a;
  height: 140px;
  left: 22px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 34px;
  width: 140px;
}

.aboutus .primary-s1PSRm {
  --z-index: 2;
  background-color: transparent;
  background-image: url(../img/primary-1@2x.svg);
  background-size: 100% 100%;
  height: 124px;
  left: 32px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 42px;
  width: 120px;
}

.aboutus .product-s1PSRm {
  --z-index: 3;
  background-color: #30d6b0;
  box-shadow: 10px 10px 0px #3a3a3a;
  cursor: pointer;
  height: 140px;
  left: 188px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 34px;
  width: 600px;
}

.aboutus .product-cYrMf9 {
  --z-index: 0;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Fira Code', Helvetica;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  height: 140px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 40px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 600px;
}

.aboutus .about-us-s1PSRm {
  --z-index: 4;
  background-color: #30d6b0;
  box-shadow: 3px 3px 0px #3a3a3a;
  height: 140px;
  left: 818px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 34px;
  width: 600px;
}

.aboutus .about-us-nzmeGY {
  --z-index: 0;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Fira Code', Helvetica;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  height: 140px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 40px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 600px;
}

.aboutus .people-C61RwL {
  --z-index: 1;
  background-color: transparent;
  height: 872px;
  left: 371px;
  opacity: 1;
  position: absolute;
  top: 274px;
  width: 698px;
}

.aboutus .group-2-ltNTIw {
  --z-index: 0;
  background-color: transparent;
  height: 200px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 698px;
}

.aboutus .frame-2-9UZPtY {
  --z-index: 0;
  background-color: #ee1d52;
  box-shadow: 10px 10px 0px #3a3a3a;
  height: 200px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 200px;
}

.aboutus .test2-1-HgwR1z {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/test2-1@2x.png);
  background-size: 100% 100%;
  height: 162px;
  left: 15px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 21px;
  width: 175px;
}

.aboutus .frame-9-9UZPtY {
  --z-index: 1;
  background-color: #ee1d52;
  box-shadow: 10px 10px 0px #3a3a3a;
  height: 200px;
  left: 248px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 450px;
}

.aboutus .this-is-frank-he-lov-9Dd6xj {
  --z-index: 0;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Fira Code', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  height: 200px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 450px;
}

.aboutus .group-3-ltNTIw {
  --z-index: 1;
  background-color: transparent;
  height: 200px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 224px;
  width: 698px;
}

.aboutus .frame-2-2QRBDc {
  --z-index: 0;
  background-color: #ee1d52;
  box-shadow: 10px 10px 0px #3a3a3a;
  height: 200px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 200px;
}

.aboutus .test2-1-e4UJYr {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/test2-1-1@2x.png);
  background-size: 100% 100%;
  height: 1px;
  left: 102px;
  opacity: 1;
  position: absolute;
  top: 102px;
  width: 1px;
}

.aboutus .saro_-portrait_by_-frederic-1-e4UJYr {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/saro-portrait-by-frederic-1@2x.png);
  background-size: 100% 100%;
  height: 176px;
  left: 21px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 14px;
  width: 163px;
}

.aboutus .frame-9-2QRBDc {
  --z-index: 1;
  background-color: #ee1d52;
  box-shadow: 10px 10px 0px #3a3a3a;
  height: 200px;
  left: 248px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 450px;
}

.aboutus .this-is-saro-he-like-0U3T9x {
  --z-index: 0;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Fira Code', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  height: 200px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 450px;
}

.aboutus .group-2-TZzCJC {
  --z-index: 2;
  background-color: transparent;
  height: 200px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 448px;
  width: 698px;
}

.aboutus .frame-2-iE0xuh {
  --z-index: 0;
  background-color: #ee1d52;
  box-shadow: 10px 10px 0px #3a3a3a;
  height: 200px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 200px;
}

.aboutus .frame-10-87Xq7n {
  --z-index: 0;
  background-color: #30d6b0;
  box-shadow: 5px 5px 0px #3a3a3a;
  height: 172px;
  left: 12px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  position: relative;
  top: 16px;
  width: 173px;
}

.aboutus .ellipse-1-onjRmW {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/ellipse-1@2x.svg);
  background-size: 100% 100%;
  height: 167px;
  left: 3px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 3px;
  width: 161px;
}

.aboutus .stephan-1-768x755-removebg-1-onjRmW {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/stephan-1-768x755-removebg-1@2x.png);
  background-size: 100% 100%;
  height: 168px;
  left: 3px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  width: 170px;
}

.aboutus .frame-9-iE0xuh {
  --z-index: 1;
  background-color: #ee1d52;
  box-shadow: 10px 10px 0px #3a3a3a;
  height: 200px;
  left: 248px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 450px;
}

.aboutus .this-is-stephan-he-l-n0roxD {
  --z-index: 0;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Fira Code', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  height: 200px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 450px;
}

.aboutus .group-4-ltNTIw {
  --z-index: 3;
  background-color: transparent;
  height: 200px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 672px;
  width: 698px;
}

.aboutus .frame-2-TABlN9 {
  --z-index: 0;
  background-color: #ee1d52;
  box-shadow: 10px 10px 0px #3a3a3a;
  height: 200px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 200px;
}

.aboutus .watson-1-o3RgKj {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/watson-1@2x.png);
  background-size: 100% 100%;
  height: 175px;
  left: 28px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 15px;
  width: 148px;
}

.aboutus .frame-9-TABlN9 {
  --z-index: 1;
  background-color: #ee1d52;
  box-shadow: 10px 10px 0px #3a3a3a;
  height: 200px;
  left: 248px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 450px;
}

.aboutus .this-is-watson-he-li-Z1qTVx {
  --z-index: 0;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Fira Code', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  height: 200px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 450px;
}

.aboutus .rectangle-4-C61RwL {
  --z-index: 2;
  background-color: #ee1d52;
  box-shadow: 5px 5px 0px #3a3a3a;
  height: 25px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 1223px;
  width: 1440px;
}
/* screen - home */

.home {
  background-color: #f8bc84;
  height: 1024px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}

.home .frame-2-C61RwL {
  --z-index: 0;
  background-color: #ee1d52;
  box-shadow: 10px 10px 0px #3a3a3a;
  height: 500px;
  left: 22px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 288px;
  width: 500px;
}

.home .group-1-gUEd1c {
  --z-index: 0;
  background-color: transparent;
  height: 494px;
  left: 36px;
  opacity: 1;
  position: relative;
  top: 0px;
  width: 430px;
}

.home .mint-print-1-o7ncbJ {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/mintprint-1@2x.png);
  background-size: 100% 100%;
  height: 494px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: -0px;
  width: 430px;
}

.home .rectangle-1-o7ncbJ {
  --z-index: 1;
  background-color: #30d6b0;
  box-shadow: 5px 5px 0px #3a3a3a;
  height: 150px;
  left: 280px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 28px;
  width: 150px;
}

.home .filled-24px-heart-o7ncbJ {
  --z-index: 2;
  background-color: transparent;
  background-image: url(../img/filled-24px---heart@2x.svg);
  background-size: 100% 100%;
  height: 120px;
  left: 295px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 43px;
  width: 120px;
}

.home .frame-3-C61RwL {
  --z-index: 1;
  background-color: #30d6b0;
  box-shadow: 10px 10px 0px #3a3a3a;
  height: 500px;
  left: 618px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 288px;
  width: 800px;
}

.home .frame-7-FY3HhL {
  --z-index: 0;
  background-color: #ee1d52;
  box-shadow: 5px 5px 0px #3a3a3a;
  cursor: pointer;
  height: 140px;
  left: 100px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 335px;
  width: 600px;
}

.home .mint-him-SDSgfo {
  --z-index: 0;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Fira Code', Helvetica;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  height: 140px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 40px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 600px;
}

.home .frame-8-FY3HhL {
  --z-index: 1;
  background-color: #ee1d52;
  box-shadow: 5px 5px 0px #3a3a3a;
  height: 280px;
  left: 44px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 24px;
  width: 712px;
}

.home .this-is-buffi-he-gre-FY3HhL {
  --z-index: 2;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Fira Code', Helvetica;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  height: 276px;
  left: 40px;
  letter-spacing: 0.00px;
  line-height: 36px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 28px;
  width: 716px;
}

.home .head-C61RwL {
  --z-index: 2;
  background-color: transparent;
  height: 208px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.home .rectangle-2-s1PSRm {
  --z-index: 0;
  background-color: #ee1d52;
  box-shadow: 5px 5px 0px #3a3a3a;
  height: 208px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.home .rectangle-3-s1PSRm {
  --z-index: 1;
  background-color: #30d6b0;
  box-shadow: 10px 10px 0px #3a3a3a;
  height: 140px;
  left: 22px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 34px;
  width: 140px;
}

.home .primary-s1PSRm {
  --z-index: 2;
  background-color: transparent;
  background-image: url(../img/primary-1@2x.svg);
  background-size: 100% 100%;
  height: 124px;
  left: 32px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 42px;
  width: 120px;
}

.home .product-s1PSRm {
  --z-index: 3;
  background-color: #30d6b0;
  box-shadow: 3px 3px 0px #3a3a3a;
  height: 140px;
  left: 188px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 34px;
  width: 600px;
}

.home .product-cYrMf9 {
  --z-index: 0;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Fira Code', Helvetica;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  height: 140px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 40px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 600px;
}

.home .about-us-s1PSRm {
  --z-index: 4;
  background-color: #30d6b0;
  box-shadow: 10px 10px 0px #3a3a3a;
  cursor: pointer;
  height: 140px;
  left: 818px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 34px;
  width: 600px;
}

.home .about-us-nzmeGY {
  --z-index: 0;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Fira Code', Helvetica;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  height: 140px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 40px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 600px;
}

.home .rectangle-4-C61RwL {
  --z-index: 3;
  background-color: #ee1d52;
  box-shadow: 5px 5px 0px #3a3a3a;
  height: 25px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 996px;
  width: 1440px;
}

.home .group-4-C61RwL {
  --z-index: 4;
  background-color: transparent;
  height: 100px;
  left: 32px;
  opacity: 1;
  position: absolute;
  top: 842px;
  width: 490px;
}

.home .frame-11-KOsP6k {
  --z-index: 0;
  background-color: #ee1d52;
  box-shadow: 5px 5px 0px #3a3a3a;
  height: 100px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 90px;
}

.home .gwei-1-xzGD0B {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/gwei-1@2x.png);
  background-size: 100% 100%;
  height: 66px;
  left: 20px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  width: 60px;
}

.home .frame-12-KOsP6k {
  --z-index: 1;
  background-color: #30d6b0;
  box-shadow: 5px 5px 0px #3a3a3a;
  height: 100px;
  left: 92px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 398px;
}

.home .powered-by-ethdenvercom-nF32JU {
  --z-index: 0;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Fira Code', Helvetica;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  height: 100px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 32px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 398px;
}

.home .group-5-C61RwL {
  --z-index: 5;
  background-color: transparent;
  height: 100px;
  left: 623px;
  opacity: 1;
  position: absolute;
  top: 842px;
  width: 795px;
}

.home .frame-11-iZjIT4 {
  --z-index: 0;
  background-color: #ee1d52;
  box-shadow: 5px 5px 0px #3a3a3a;
  height: 100px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 97px;
}

.home .image-1-Z8Yqbq {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/image-1@2x.png);
  background-size: 100% 100%;
  height: 63px;
  left: 19px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  width: 63px;
}

.home .frame-12-iZjIT4 {
  --z-index: 1;
  background-color: #30d6b0;
  box-shadow: 5px 5px 0px #3a3a3a;
  height: 100px;
  left: 97px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 698px;
}

.home .challenged-by-moonbeam-w2YmxP {
  --z-index: 0;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Fira Code', Helvetica;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  height: 100px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 32px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 698px;
}
