:root { 
  --backgroundwhite: #ffffff;
  --textgray: #000000;
  --textwhite: #ffffff;
  --uigrey100: #000000;
  --uiwhite: #ffffff;
 
  --font-size-m: 40px;
  --font-size-s: 20px;
 
  --font-family-rational_tw_display-semibold: "Rational TW Display-SemiBold", Helvetica;
}
