/* screen - large-product-cards */

.large-product-cards {
  background-color: var(--backgroundwhite);
  height: 671px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 662px;
}

.large-product-cards .large-product-cards-C61RwL {
  background-color: transparent;
  color: var(--textgray);
  font-family: var(--font-family-rational_tw_display-semibold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 80px;
  letter-spacing: 0.00px;
  line-height: 40px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 80px;
  white-space: nowrap;
  width: auto;
}

.large-product-cards .recipes-C61RwL {
  background-color: transparent;
  height: 391px;
  left: 80px;
  mix-blend-mode: normal;
  position: absolute;
  top: 200px;
  width: 375px;
}

.large-product-cards .recipe-0FQedJ {
  background-color: transparent;
  height: 391px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 375px;
}

.large-product-cards .large-product-container-l8UmRs {
  background-color: transparent;
  color: var(--textgray);
  font-family: var(--font-family-rational_tw_display-semibold);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.large-product-cards .lg-swipe-container-l8UmRs::-webkit-scrollbar {
  display: none;
  width: 0;
}

.large-product-cards .lg-swipe-container-l8UmRs {
  background-color: transparent;
  height: 343px;
  left: 0px;
  mix-blend-mode: normal;
  overflow-x: scroll;
  position: absolute;
  top: 48px;
  width: 375px;
}

.large-product-cards .lg-sale-VHKvAl {
  background-color: transparent;
  height: 368px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: -12px;
  width: 325px;
}
